@font-face {
    font-family: Quicksand;
    src: url(./fonts/Quicksand Book.otf) format('opentype');
}

body {
    font-family: Quicksand;
    margin: 0 auto;
    background-color: snow;
    /*background-color: #f1f1f1;*/
}

h1 {
    color: #c7c7c7;
}

/*NAVBAR--------------------------------------------------*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar li a.active {
    background-color: #111;
}
/*--------------------------------------------------*/


/*---------------------------------------------------
   PROFILE
----------------------------------------------------*/
/*TAB-----------------------------------------------*/
/* Clearfix */
/*.container {
    display: inline-block;
}*/

ul.tabs:after {
   display:block;
   clear:both;
   content:'';
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tabs li {
    float: left;
}

/* Style the links inside the list items */
ul.tabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tabs a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tabs a:focus .active{
    background-color: white;
}

li.active a, li.active a:hover {
    background:white;
    color:#4c4c4c;
}

/* Style the tab content */
#account {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

#inspo {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}


/*FORM---------------------------------------------*/
.account-form input {
    width: 400px;
    height: 25px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #c7c7c7;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
}
.account-form p {
    margin: 0;
    display: inline-block;
    font-size: 12px;
}
/*INSPO CARD---------------------------------------*/
.card-base {
    /*border:1px solid grey;*/
    width:255px;
    height:250px;
    /*margin:0 auto;*/
    margin-left:10px;
    margin-right:10px;
    box-shadow: 2px 2px 10px #c7c7c7;
}
.card-big-img {
    /*border:1px solid grey;*/
    width:202px;
    height:202px;
    float:left;
    background-color: #c7c7c7;
    overflow: hidden;
}
.card-img {
    /*border:1px solid grey;*/
    width:47.5px;
    height:47.5px;
    float:right;
    margin-left:4px;
    margin-bottom:4px;
    position:relative;
    background-color: #5db6b4;
    overflow: hidden;
}
