<title>WedJoy | CREATE</title>

<script src="../js/tabs.js"></script>

<h1 style="margin-left:20px;">HI! Let's create!</h1>
<hr>
<br>


<!-- CREATE INSPOBOARD --------------------------------->
<div id="create" class="tab" style="height:650px; display:inline-flex; flex-wrap:wrap; padding:34.5px;">

    <div class="card-icon" style="margin-left:10px; margin-right:10px;">
        <!-- Modal Trigger -->
        <a href="#modal1" class="waves-effect waves-light modal-trigger" style="text-decoration:none; color: black;">
            <i class="large material-icons" style="font-size: 10rem; color:#c7c7c7; margin-left: 10%; margin-top: 5%;">add</i>
        </a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
