<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WedJoy | Inspirational Board</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/materialbox.js"></script>


    </head>

    <body style="overflow-x:hidden;">
        <ul class="navbar">
            <li><a href="../index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a class="active" href="inspo.html">Inspirational Boards</a></li>
            <li><a href="users.html">Users</a></li>
        </ul>

        <div class="cards-container" style="width:78%; margin-top:50px; display:inline-flex; flex-wrap:wrap; float:left;">

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px; z-index:0;">
                    <img class="materialboxed responsive-img" src="../img/Maggie Sottero.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Vendor</span>
                    <p>Location</p>
                    <p>Website</p>
                    <p>$$$</p>
                </div>
            </div>

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px; z-index:0;">
                    <img class="materialboxed responsive-img" src="../img/elisecakes.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Vendor</span>
                    <p>Location</p>
                    <p>Website</p>
                    <p>$$$</p>
                </div>
            </div>

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px; z-index:0;">
                    <img class="materialboxed responsive-img" src="../img/LittleBridgeDesign.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Vendor</span>
                    <p>Location</p>
                    <p>Website</p>
                    <p>$$$</p>
                </div>
            </div>

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px; z-index:0;">
                    <img class="materialboxed responsive-img" src="../img/signage.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Vendor</span>
                    <p>Location</p>
                    <p>Website</p>
                    <p>$$$</p>
                </div>
            </div>

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px; z-index:0;">
                    <img class="materialboxed responsive-img" src="../img/Black-and-gold-Art-Deco-wedding-inspiration-11.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Vendor</span>
                    <p>Location</p>
                    <p>Website</p>
                    <p>$$$</p>
                </div>
            </div>

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px; z-index:0;">
                    <img class="materialboxed responsive-img" src="../img/verwang.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Vendor</span>
                    <p>Location</p>
                    <p>Website</p>
                    <p>$$$</p>
                </div>
            </div>

        </div>

        <div class="recommendations" style="width:22%; display:block; padding:25px; float:right;">
            <h6 style="font-size:21px; font-weight:600; text-align:center;">Recommended Vendors</h6>
            <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>




    </body>
</html>
