<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WedJoy | Inspirational Board</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/materialbox.js"></script>


    </head>

    <body style="overflow-x:hidden;">
        <ul class="navbar">
            <li><a href="../index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a class="active" href="inspo.html">Inspirational Boards</a></li>
            <li><a href="users.html">Users</a></li>
        </ul>

        <div class="cards-container" style="width:78%; margin-top:50px; display:inline-flex; flex-wrap:wrap; float:left;">

            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px;">
                    <img class="materialboxed" src="../img/Maggie Sottero.jpg">
                    <!-- <img class="materialboxed" src="https://apis.xogrp.com/media-api/images/14b7f105-7807-433b-a4c7-67c8990c6d06"> -->
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">zoom_in</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal" style="border-radius:15px;">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px;">
                    <img class="materialboxed" src="../img/elisecakes.jpg">
                    <!-- <img class="materialboxed" src="https://apis.xogrp.com/media-api/images/14b7f105-7807-433b-a4c7-67c8990c6d06"> -->
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">zoom_in</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal" style="border-radius:15px;">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px;">
                    <img class="materialboxed" src="../img/LittleBridgeDesign.jpg">
                    <!-- <img class="materialboxed" src="https://apis.xogrp.com/media-api/images/14b7f105-7807-433b-a4c7-67c8990c6d06"> -->
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">zoom_in</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal" style="border-radius:15px;">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px;">
                    <img class="materialboxed" src="../img/signage.jpg">
                    <!-- <img class="materialboxed" src="https://apis.xogrp.com/media-api/images/14b7f105-7807-433b-a4c7-67c8990c6d06"> -->
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">zoom_in</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal" style="border-radius:15px;">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card" style="width:350px; height:350px; border-radius:15px; margin-left:10px; margin-right:10px;">
                <div class="card-image waves-effect waves-block waves-light" style="border-top-left-radius:15px; border-top-right-radius:15px; width:350px; height:250px;">
                    <img class="materialboxed" src="../img/Black-and-gold-Art-Deco-wedding-inspiration-11.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">zoom_in</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal" style="border-radius:15px;">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>

        <div class="recommendations" style="width:22%; display:block; padding:25px; float:right;">
            <h6 style="font-size:21px; font-weight:600; text-align:center;">Recommended Vendors</h6>
            <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>




    </body>
</html>
