<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WedJoy | PROFILE</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">

        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

        <!-- Javascript -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../js/app.js"></script> -->
        

    </head>
    <body>

        <ul class="navbar" style="position:relative;">
            <li><a href="../index.html">Home</a></li>
            <li><a class="active">Profile</a></li>
            <li><a href="inspo.html">Inspirational Boards</a></li>
            <li><a href="users.html">Users</a></li>
        </ul>

<!-- TABLINKS --------------------------------------->
        <div class="container" style="width:900px; margin:0 auto;">

            <ul class="tab" style="position:relative;">
                <li><a href="#" class="tablinks" onclick="openTab(event, 'Account')">Account</a></li>
                <li><a href="#" class="tablinks active" onclick="openTab(event, 'Inspo')">Inspiration Boards</a></li>
            </ul>

<!-- INSPIRATIONAL BOARD --------------------------------->
            <div id="Inspo" class="tabcontent">
                <div class="container" style="width:860px; height:700px; display:inline-flex; flex-wrap:wrap; padding:20px; clear:both;">
                    <div class="card-base" style="margin-left:10px; margin-right:10px;">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:12px;">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="card-base">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:12px;">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="card-base">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:12px;">Lorem ipsum dolor sit amet</p>
                    </div>
                    <br>
                    <br>
                    <div class="card-base">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:12px;">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>

<!-- ACCOUNT INFO --------------------------------------->
            <div id="Account" class="tabcontent">
                <div class="side-info" style="float:left; margin-left:50px; margin-right:50px">
                    <h3>My Account</h3>
                    <br>
                    <ul style="list-style-type:none;">
                        <li>Account Information</li>
                        <br>
                        <li>Change Password</li>
                    </ul>
                </div>

                <div class="profile-p" style="padding-left:60px; float:right; border-left:2px solid #c7c7c7; width:500px; margin-top:43px; margin-right:20px;">
                    <h3>Account Information</h3>

                    <form class="account-form" action="profile.html" method="post">
                        <p>First name*</p><br>
                        <input type="text" name="firstname" required placeholder="caps sensitive"><br>
                        <p>Last name*</p><br>
                        <input type="text" name="lastname" required placeholder="caps sensitive"><br>
                        <p>Email*</p><br>
                        <input type="text" name="email" required placeholder="caps sensitive"><br>
                        <p>Phone number</p><br>
                        <input type="text" name="phone">
                    </form>

                    <h3>Change Password</h3>
                    <form class="account-form" action="profile.html" method="post">
                        <p>Confirm your current password*</p><br>
                        <input type="text" name="current" required><br>
                        <p>New password*</p><br>
                        <input type="text" name="new" required><br>
                        <p>Confirm new password*</p><br>
                        <input type="text" name="confirm" required><br>
                        <input type="submit" value="SAVE CHANGES" style=""></input>
                    </form>
                </div>
            </div>

        </div>






    </body>
</html>
