<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WedJoy | PROFILE</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">

        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <ul class="navbar">
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
        </ul>

        <img style="width:100%;" src="https://i.kinja-img.com/gawker-media/image/upload/zkfi173jjx2ngrn03r2m.jpg" alt="" />
        <div style="padding:20px;margin-top:30px;background-color:snow;height:1500px;">
            <h1>Fixed Top Navigation Bar</h1>
            <h2>Scroll this page to see the effect</h2>
            <h2>The navigation bar will stay at the top of the page while scrolling</h2>

            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            <p>Some text some text some text some text..</p>
            </div>
        <h1>THIS IS THE PROFILE PAGE</h1>











        <!-- Javascript -->
        <!-- <script src="js/app.js"></script> -->
    </body>
</html>
