<title>WedJoy | PROFILE</title>

<script src="../js/tabs.js"></script>

<body ng="wedjoy" ng-controller="ProfileCtrl as pc" style="overflow:hidden;">


<!-- <img style="width:100%;" src="https://apis.xogrp.com/media-api/images/70ba55bf-1dda-48ac-b9ae-0dfa9125b7a8" alt="" /> -->

<!-- TABLINKS --------------------------------------->
        <div class="container" style="width:900px; height:780px; margin:0 auto; position:relative;">
            <ul class="tabs" style="position:relative;">
                <li><a href="#account">Account</a></li>
                <li class="active"><a href="#inspo">Inspiration Board</a></li>
                <li><a ui-sref="create_inspo">Create</a></li>
            </ul>

<!-- ACCOUNT INFO --------------------------------------->
            <div class="tab-content">
                <div id="account" class="tab" style="height:1000px; background-color:white;">
                    <div style="float:left; margin-left:60px; margin-right:50px;">
                        <br>
                        <br>
                        <br>
                        <h5>My Account</h5>
                        <br>
                        <ul style="list-style-type:none;">
                            <li>Account Information</li>
                            <br>
                            <li>Change Password</li>
                        </ul>
                    </div>

                    <div class="profile-p">

                        <form class="account-form" action="profile.html" method="post" style="float:right; border-left:2px solid #c7c7c7; width:420px; margin-top:64px; margin-right:60px; padding-left:70px;">
                            <h5>Account Information</h5>
                            <br>
                            <p>First name*</p><br>
                            <input type="text" name="firstname" placeholder="caps sensitive" required><br>
                            <p>Last name*</p><br>
                            <input type="text" name="lastname" placeholder="caps sensitive" required><br>
                            <p>Email*</p><br>
                            <input type="text" name="email" placeholder="caps sensitive" required><br>
                            <p>Phone number</p><br>
                            <input type="text" name="phone">
                            <br>
                            <br>
                            <br>
                            <h5>Change Password</h5>
                            <br>
                            <p>Confirm your current password*</p><br>
                            <input type="text" name="current" placeholder="caps sensitive" required><br>
                            <p>New password*</p><br>
                            <input type="text" name="new" placeholder="caps sensitive" required><br>
                            <p>Confirm new password*</p><br>
                            <input type="text" name="confirm" placeholder="caps sensitive" required><br>
                            <button class="btn waves-effect waves-light" type="submit">SAVE CHANGES
                                <i class="material-icons right">send</i></button>
                            </form>
                    </div>
                </div>

<!-- INSPIRATIONAL BOARD --------------------------------->
                <div id="inspo" class="tab active" style="height:700px; background-color:white; display:inline-flex; flex-wrap:wrap; padding:34.5px;">

                    <a ui-sref="inspo" style="text-decoration:none; color: black;">
                        <div class="card-base" style="margin-left:10px; margin-right:10px;">
                            <div class="card-big-img" style="width:202px; height:202px;">
                                <img src="../img/Maggie Sottero.jpg" alt="" style="max-width:100%;"/>
                            </div>
                            <div class="card-img" style="width:47.5px; height:47.5px;">
                                <img src="../img/elisecakes.jpg" alt="" style="max-width:100%;"/>
                            </div>
                            <div class="card-img" style="width:47.5px; height:47.5px;">
                                <img src="../img/LittleBridgeDesign.jpg" alt="" style="max-height:100%;"/>
                            </div>
                            <div class="card-img" style="width:47.5px; height:47.5px;">
                                <img src="../img/signage.jpg" alt="" style="max-width:100%;"/>
                            </div>
                            <div class="card-img" style="width:47.5px; height:47.5px; margin-bottom:0px;">
                                <img src="../img/Black-and-gold-Art-Deco-wedding-inspiration-11.jpg" alt="" style="max-width:100%;"/>
                            </div>
                            <p style="position:relative; text-align:center; margin:0 auto; top:15px;">Lorem ipsum dolor sit amet</p>
                        </div>
                    </a>
                    <div class="card-base">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:15px;">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="card-base">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:15px;">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="card-base">
                        <div class="card-big-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="">
                            <img src="" alt="" />
                        </div>
                        <div class="card-img" style="margin-bottom:0px;">
                            <img src="" alt="" />
                        </div>
                        <p style="position:relative; text-align:center; margin:0 auto; top:15px;">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
